@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.card {
  color: #ffffff;
  width: 350px;
  border-radius: 10px;
  background: linear-gradient(145deg, #534f4f, #000000f8);
  box-shadow: 10px 10px 10px #787579, 0 0 1px #070707;
  border: none;
}

.neo_button {
  width: 40px;
  height: 40px;
  outline: 0 !important;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #9a40a9, #b74cc9);
  box-shadow: inset 20px 20px 60px #913ca0, inset -20px -20px 60px #c552d8;
}

.num {
  color: #eee !important;
}

.line {
  color: #fff;
}

.neo_button:active {
  border-radius: 50%;
  background: #ab47bc;
  box-shadow: 28px 28px 57px #933da2, -28px -28px 57px #c351d6;
}